{% extends 'base.html' %}

{% block content %}
{% load cloudinary %}
{% load static %}

<div class="container">
  <h1 class="headings" id="your-reservation"> Your reservations </h1>
  {% if reservations %}
    {% for reservation in reservations %}
    <div class="col s12">
      <h2 class="past-reservation header headings">{{ reservation.experience.experience_name }} | {{ reservation.reservation_date|date:"d F Y" }}</h2>
        <div class="card horizontal collection">
          <div class="card-image">
            <img src="{{ reservation.experience.experience_image.url }}" alt="{{ reservation.experience.experience_name }}">
          </div>
          <div class="card-stacked">
            <div class="card-content valign-wrapper">
              <ul>
                <li>Number of Guests: {{reservation.number_of_guests}}</li>
                <li> Total Price: £{{reservation.reservation_price}}</li>
              </ul>
            </div>
            <div class="card-action">
              <span><a class="waves-effect waves-light teal darken-4 btn modal-trigger"
                  href="{% url 'change_reservation' reservation_id=reservation.reservation_id %}">Edit</a></span>
              <button data-target="modal3" data-id="{{ reservation.reservation_id }}"
                class="waves-effect waves-light btn modal-trigger delete_reservation" id="cancel-btn">Cancel</button>
            </div>
          </div>
        </div>
    </div>
        {% endfor %}
  {% else %}
      <div class="row">
        <div class="col s12 center-align">
          <p>It looks like you haven't made any reservations yet. Why not book an experience with us today?</p> 
          <a id="book-now" class="waves-effect waves-light btn center-align responsive-img teal darken-4" href="{% url 'home' %}#section-experiences">Book now</a>
          <img class="col s12" src="https://res.cloudinary.com/dybts6jei/image/upload/v1742160560/twin-massage_rospud.jpg" alt="Woman receiving a face massage">
        </div>
      </div>
  {% endif %}
</div>

<div id="modal3" class="modal">
    <div class="modal-content">
      <h4 class="headings">Are you sure you want to cancel your reservation?</h4>
      <p>Once you have deleted your reservation you cannot retrive it and you will have to book again.</p>
    </div>
    <div class="modal-footer">
      <form id="delete-reservation-form" method="POST" action="{% url 'delete_reservation' %}">
        {% csrf_token %}
        <input type="hidden" name="reservation_id" id="delete-reservation-id">
        <button type="submit" class="modal-close btn waves-effect waves-light btn-flat">Yes, I'm sure</button>
        <button type="reset" class="modal-close btn waves-effect waves-light btn-flat">No, I'm not </button>
      </form>
    </div>
  </div>

  {% endblock %}