{% extends "base.html" %}
{% block content %}
{% load cloudinary %}
{% load static %}

{% if user.is_authenticated %}
{% if experience %}
<div class="container">
    <div class="col s12 m7 l8">
        <h2 class="header headings">{{ experience.experience_name }}</h2>
        <div class="card horizontal">
          <div class="card-image">
            <img id="experience-picture" src="{{ experience.experience_image.url }}">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>{{ experience.experience_description }}</p>
            </div>
          </div>
        </div>
      </div>
</div>
{% else %}
<div class="container">
    <div class="row col s12 m5 l4">
        {% for experience in experience_list %}
        <div class="col s12 l4">
            <div class="card">
                <div class="card-image">
                    {% if "placeholder" in experience.experience_image.url %}
                    <img src="static/img/oakdale_square_logo.png" alt="placeholder image" class="card-image">
                    {% else %}
                    <img src="{{ experience.experience_image.url }}" alt="{{ experience.experience_name }}">
                    <span class="card-title grey darken-4">{{ experience.experience_name }}</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light teal darken-4 btn modal-trigger" href="#modal1"><i class="material-icons">add</i></a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endif %}
    <div class="row col l8">
        <form id="reservation_form" method="POST" action="{% url 'add_reservation' %}">
            {% csrf_token %}
            {{ guest_form.as_p }}
            {{ experience_form.as_p  }}
            {{ reservation_form.as_p  }} {{ reservation.reservation_date|date:"d F Y" }}
            <button class="btn waves-effect waves-light teal darken-4" type="submit" name="action">Save</button>
        </form>
    </div>
</div>

{% else %}
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <p>Ready to indulge in relaxation? Please<a class="link account-link" href="{{ login_url }}"> log in </a>or<a class="link account-link" href="{{ signup_url }}"> sign up </a>to reserve the peace you deserve</p> 
            <a id="book-now" class="waves-effect waves-light btn center-align teal darken-4" href="{% url 'home' %}#section-experiences">Book now</a>
            <img class="col s12" alt="Woman lying on her back having a face massage" src="https://res.cloudinary.com/dybts6jei/image/upload/v1742161059/face-massage-large_e8ssrs.jpg">
        </div>
    </div>
</div>
{% endif %}

{% endblock %}

